h1 {
  border-bottom-style: inset;
}

pre {
  font-size: 1.2em;
}

img.normal {
  float: left;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin-right: 10px;

}

img.alta {
  float: left;
  height: 380px;
  width: 280px;
  border-radius: 10px;
  margin-right: 20px;
}

.aDireita {
  text-align: right;
}

span {
  margin-left: 70px;
}

select {
  width: 150px;
}

.detalhes {
  width: 380px;
}

.oculta {
  display: none;
}

.exibe {
  display: inline;
}